body {
    background-image: url("bulb.jpg"); 
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    
   
}
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
#inputDiv {
    display: none;
}
#player-input-div{
    display: none;
}

#outputDiv {
    margin-top: 20px;
}
#teams {
    /* background-color: #CD8B76; */

}
button{
    padding: 10px;
    margin: 2%;
}
#teams div input {
    height: 150px;
    width: 350px;
    
}
#players div input {
    height: 150px;
    width: 350px;
    
}
#teams div{
    margin-left: 1.5%;
    border-radius: 25px;
    padding-bottom: 10px;    
}
#players div{
    margin-left: 1.5%;
    border-radius: 25px;
    padding-bottom: 10px;    
}
#teams form input {
    height: 30px;
    width: 150px;
}
#players form input {
    height: 30px;
    width: 150px;
}
