body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
#inputDiv {
    display: none;
}
#player-input-div{
    display: none;
}

#outputDiv {
    margin-top: 20px;
}