body {
    background-image: url("bulb.jpg"); 
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family:  -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    color: whitesmoke;
}
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
#inputDiv {
    display: none;
}
#player-input-div{
    display: none;
}

#outputDiv {
    margin-top: 20px;
}
#teams {
    /* background-color: #CD8B76; */

}
button{
    padding: 10px;
    margin: 2%;
}
#teams div input {
    height: 150px;
    width: 350px;
    
}
#players div input {
    height: 150px;
    width: 350px;
    
}
#teams div{
    margin-left: 1.5%;
    border-radius: 25px;
    padding-bottom: 10px;    
}
#players div{
    margin-left: 1.5%;
    border-radius: 25px;
    padding-bottom: 10px;    
}
#teams form input {
    height: 30px;
    width: 150px;
}
#players form input {
    height: 30px;
    width: 150px;
}
button { 
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    margin: 12px ;
    padding: 0 25px;
    position: relative;
    text-align: center;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;    
}
